.navbar__container .navbar__heading-container{
    font-size: 2rem;
    font-family: var(--font-family-secondary);
}

.navbar__container .navbar__item{
    font-size: 2rem;
    font-weight: 600;
}

.about__description h2{
    font-family: var(--font-family-secondary);
}

.about__img{
    max-width: 65rem;
    max-height: 40rem;
}

.install{
    min-height: 30vh;
    padding: var(--padding-medium);
}

.install h2{
    font-family: var(--font-family-secondary);
}

.footer__container{
    background-color: var(--clr-secondary-dark);
    color: var(--text-clr-secondary);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__icons i{
    font-size: var(--text-large);
    margin: 0 var(--margin-medium);
}

.footer__icons i:hover{
    cursor: pointer;
    font-size: 2.6rem;
    
}

.code--template{
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 0;
    background-color: #FAFAFA;
    margin: auto 0;
    overflow-x: scroll;
}

.code--template iframe{
    width: 100%;
    min-width: 32rem;
}

.doc__main{
    display: grid;
    grid-template-columns: 25rem 1fr;
}

.doc__main h3{
    font-family: var(--font-family-secondary);
    font-weight: 100;
}

.doc__main .drawer__container{
    overflow-y: auto;
}

.drawer__container::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.drawer__container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.doc__section{
    padding: var(--padding-medium);
    margin-top: var(--margin-medium);
    border-bottom: 1px solid grey;
}

.doc__title{
    color: var(--clr-secondary)
}

.doc__description{
    margin: var(--margin-medium) 0;
}

.main{
    width: 100%;
    overflow: hidden;
}

.doc__main .container--90{
    max-width: 100%;
}

.hide{
    display: none;
}

@media only screen and (max-width: 600px) {

    .container--90{
        max-width: 100%;
    }
    
    .about p,h2{
        text-align: center;
    }

    .install p,h2{
        text-align: center;
    }

    .btn--container{
        display: flex;
        justify-content: center;
    }

    .doc__main{
        position: relative;
    }

    .doc__drawer{
        display: none;
        position: relative;
        background-color: white;
        border-right: 1px solid grey;
        z-index: 2;
    }

    .doc__drawer--display{
        display: block;
    }

    .navbar__container--plain .navbar__list-container{
        display: none;
    }

    .navbar__container--plain .navbar__display{
        display: block;
    }

    .doc__main{
        display: grid;
        grid-template-columns: 1fr;
    }
}