@import "doc__home.css";

.code--template{
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 0;
    background-color: #FAFAFA;
    margin: auto 0;
    overflow-x: scroll;
}

.code--template iframe{
    width: 100%;
    min-width: 34rem;
    overflow: auto;
}

.doc__main{
    display: grid;
    grid-template-columns: 25rem 1fr;
}

.doc__main .doc__title{
    font-family: var(--font-family-secondary);
    font-weight: 100;
}

.doc__main .drawer__container{
    overflow-y: auto;
}

.drawer__container::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.drawer__container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.doc__section{
    padding: var(--padding-medium);
    margin-top: var(--margin-medium);
    border-bottom: 1px solid var(--clr-grey);
}

.doc__title{
    color: var(--clr-secondary)
}

.doc__description{
    margin: var(--margin-medium) 0;
}

.main{
    width: 100%;
    overflow: hidden;
    padding: var(--padding-medium)
}

.doc__main .container--90{
    max-width: 100%;
}

.hide{
    display: none;
}

@media only screen and (max-width: 600px) {

    .doc__main{
        position: relative;
    }

    .doc__drawer{
        display: none;
        position: relative;
        border-right: 1px solid var(--clr-grey);
        z-index: 2;
    }

    .doc__drawer--display{
        display: block;
    }

    .navbar__container--plain .navbar__display{
        display: block;
    }

    .doc__main{
        display: grid;
        grid-template-columns: 1fr;
    }

    .main{
        padding: 0;
    }

    *::-webkit-scrollbar {
        width: 6px;
        height: 10px;
    }
}