/* Margins */

.margin--small{
    margin: var(--margin-small);
}

.margin--medium{
    margin: var(--margin-medium);
}

.margin--large{
    margin: var(--margin-large);
}

.margin-bottom--medium{
    margin-bottom: var(--margin-medium);
}

.margin-bottom--small{
    margin-bottom: var(--margin-small);
}

.margin-bottom--large{
    margin-bottom: var(--margin-large);
} 

.margin-lr--small{
    margin: 0 var(--margin-small);
}

.margin-lr--medium{
    margin: 0 var(--margin-medium);
}

.margin-lr--large{
    margin: 0 var(--margin-large);
}

.margin--auto{
    margin: auto;
}

/* Padding */

.padding--small{
    padding: var(--padding-small);
}

.padding--medium{
    padding: var(--padding-medium);
}

.padding--large{
    padding: var(--padding-large);
}