.navbar__container{
    background-color: var(--clr-secondary);
    color: var(--text-clr-secondary);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__container--plain{
    background-color: var(--clr-secondary);
    color: var(--text-clr-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__container--plain .navbar__heading-container{
    font-size: 2rem;
    font-family: var(--font-family-secondary);
}

.navbar__container--plain .navbar__item{
    font-size: 2rem;
    font-weight: 600;
}

.navbar__container--plain .navbar__logo{
    margin-right: var(--margin-medium);
    margin-left: var(--margin-medium);
}

.navbar--fixed{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
}

.navbar__heading-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__heading-container > *{
    margin-right: var(--margin-medium)
}

.navbar__list-container{
    display: flex;
    align-items: center;
}

.navbar__list-container > *{
    margin-right: var(--margin-medium)
}

.navbar__item{
    padding: var(--padding-medium);
}

.navbar__item a{
    cursor: pointer;
    color: var(--text-clr-secondary);
}

.navbar__item:hover{
    border-bottom: 2px solid var(--text-clr-secondary);
}

.navbar__logo i{
    font-size: var(--text-large);
}

.navbar__menu{
    display: none;
    font-size: var(--text-large);
}

.navbar__title{
    font-size: var(--text-large);
}


@media only screen and (max-width: 600px) {
    .navbar__container{
        display: flex;
        flex-direction: column;
    }

    .navbar__container--plain{
        display: flex;
        flex-direction: column;
    }

    .navbar__container .navbar__heading-container{
        width: 90%;
        margin: 0 auto;
    }

    .navbar__list-container{
        flex-direction: column;
        width: 100%;
        border-top: 1px solid var(--text-clr-secondary);
        margin-top: var(--margin-medium);
    }

    .navbar__item{
        width: 100%;
        text-align: center;
    }

    .navbar__list-container > *{
        margin-right: 0
    }

    .navbar__item:hover{
        background-color: var(--clr-light);
        border: none;
    }

    .navbar__container--plain .navbar__list-container{
        display: none;
        border-top: 1px solid white
    }

    .navbar__container--plain .navbar__menu{
        display: block;
    }

    .navbar__container--plain .navbar__heading-container{
        width: 100%;
        justify-content: space-between;
    }

    .navbar__container--plain .navbar__item{
        text-align: left;
    }

    #navbar__menu{
        display: block;
    }

    .navbar__list__hamburger{
        display: none;
    }

    .navbar__display{
        display: block;
    }

}
