.star-rating {
    display: flex;
    align-items: center;
    width: 16rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: var(--margin-medium) 0;
    position: relative;
}

.star-rating--plain {
    display: flex;
    align-items: center;
    width: 16rem;
    justify-content: space-between;
    margin: var(--margin-medium) 0;
    position: relative;
}

.star-rating input {
    display: none;
 }

.star-rating > label {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    color: orange;
}

.star-rating--plain > label{
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    color: orange;
}

.star::before{
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
}

.star-filled::before{
    content:'\2605';
    position: absolute;
    top: 0px;
    line-height: 26px;
}

.star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
}

.star-rating input:checked ~ label::before {
    content:'\2605';
}

.star-rating > *:hover ~ label:before{
    content:'\2605';
}

