.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 2rem;
    background: var(--clr-light);
    opacity: 0.8;
}

.slider:hover {
    opacity: 0.9;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background: #000000;
    cursor: pointer;
  }
  