@import "typography.css";
@import "utilities.css";

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:wght@300&display=swap');

/* Root */

:root {
    --clr-primary: white;
    --clr-secondary: #c31432;
    --clr-secondary-dark: #ED213A;

    --text-clr-primary: black;
    --text-clr-secondary: white;

    --clr-light: #FE8176;

    --clr-grey: #808080;
    --clr-dark-grey: #C0C0C0;

    --font-family-primary: "Roboto", sans-serif;
    --font-family-secondary: 'Mochiy Pop P One', sans-serif;

    --text-small: 1rem;
    --text-medium: 1.6rem;
    --text-large: 2rem;

    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 1.5rem;

    --margin-small: 0.5rem;
    --margin-medium: 1rem;
    --margin-large: 1.5rem;
}

[data-theme="dark"] {
  --clr-primary: black;
  --clr-secondary: #FF3F80;
  --clr-secondary-dark: #c31432;

  --text-clr-primary: white;
  --text-clr-secondary: white;

}

/* Reset Class */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    font-size: var(--text-medium);
    background-color: var(--clr-primary);
}

h1,
h2,
h3{
  font-family: var(--font-family-primary);
  font-weight: 900;
  line-height: 1;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
}

img{
  width: 100%;
}

/* scrollbars */

*::-webkit-scrollbar {
    width: 10px;
}
  
*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background-color: var(--clr-dark-grey);
    border-radius: 20px;
}