@import "typography.css";
@import "utilities.css";
@import "buttons.css";
@import "alerts.css";
@import "badge.css";
@import "avatar.css";

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:wght@300&display=swap');

/* Root */

:root {
    --clr-primary: #FFFFFF;
    --clr-primary-dark: #D1D5DB;
    --clr-secondary: #dc2626;
    --clr-secondary-dark: #c31432;

    --text-clr-primary: #000000;
    --text-clr-secondary: #FFFFFF;

    --clr-light: #f87171;

    --clr-grey: #9ca3af;    ;
    --clr-dark-grey: #6b7280;

    --clr-warning: #f59e0b;    ;
    --clr-success: #22c55e;
    --clr-error: #ef4444;

    --font-family-primary: "Roboto", sans-serif;
    --font-family-secondary: 'Mochiy Pop P One', sans-serif;

    --text-small: 1rem;
    --text-medium: 1.6rem;
    --text-large: 2rem;

    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 1.5rem;

    --margin-small: 0.5rem;
    --margin-medium: 1rem;
    --margin-large: 1.5rem;
}

[data-theme="dark"] {
  --clr-primary: #000000;
  --clr-primary-dark: #6B7280;
  --clr-secondary: #f87171;
  --clr-secondary-dark: #dc2626;

  --text-clr-primary: #FFFFFF;
  --text-clr-secondary: #FFFFFF;

}

/* Reset Class */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    font-size: var(--text-medium);
    background-color: var(--clr-primary);
}

h1,
h2,
h3{
  font-family: var(--font-family-primary);
  font-weight: 900;
  line-height: 1;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
}

img{
  width: 100%;
}

/* scrollbars */

*::-webkit-scrollbar {
    width: 10px;
}
  
*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background-color: var(--clr-dark-grey);
    border-radius: 20px;
}