/* typography */

.text--small{
    font-size: var(--text-small)
}

.text--medium{
    font-size: var(--text-medium)
}

.text--large{
    font-size: var(--text-large)
}

h1{
    font-size: 4.8rem;
    line-height: 6.4rem;
}

h2{
    font-size: 3.2rem;
    line-height: 4rem;
}

h3{
    font-size: 2.4rem;
    line-height: 3.2rem;
}

h4{
    font-size: 1.6rem;
    line-height: 2.4rem;
}

h5{
    font-size: 0.8rem;
    line-height: 1.6rem;
}

h6{
    font-size: 0.4rem;
    line-height: 0.8rem;
}

.text--grey{
    color: var(--clr-grey);
}

.text--center{
    text-align: center;
}

.text--left{
    text-align: left;
}

.text--right{
    text-align: right;
}

.text--bold{
    font-weight: 700;
}

.text--light{
    font-weight: 300;
}