@import "margin-padding.css";

/* Split a div into two parts */

.split{
    display: flex;
    align-items: center;
}

.split > * {
    width: 50%;
}

/* Container */

.container--90{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container--80{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container--50{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.container__flex{
    display: flex;
}

.container__flex--center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container__flex--spacebetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* border div */

.border--grey{
    border: 1px solid var(--clr-grey);
}

/* Colors */

.background--primary{
    background-color: var(--clr-primary);
}

.background--secondary{
    background-color: var(--clr-secondary);
}

.background--light{
    background-color: var(--clr-light);
}

.background--grey{
    background-color: var(--clr-grey);
}

.clr--primary{
    color: var(--clr-primary);
}

.clr--secondary{
    color: var(--clr-secondary);
}

.text--line-through{
    text-decoration: line-through;
}