<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="../stylishbook.css" />
</head>
<body>
    <div class="container--80 padding--medium margin--large">
        <div class="alert__container alert--primary border--grey">
            <p class="alert__message">This is a Message</p>
            <i class="fas fa-times alert__clear"></i>
        </div>
        <div class="alert__container alert--secondary">
            <p class="alert__message">This is a Message</p>
            <i class="fas fa-times alert__clear"></i>
        </div>
        <div class="alert__container alert--success">
            <p class="alert__message">This is a Message</p>
            <i class="fas fa-times alert__clear"></i>
        </div>
        <div class="alert__container alert--error">
            <p class="alert__message">This is a Message</p>
            <i class="fas fa-times alert__clear"></i>
        </div>
        <div class="alert__container alert--warning">
            <p class="alert__message">This is a Message</p>
            <i class="fas fa-times alert__clear"></i>
        </div>
    </div>
</body>
</html>