<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="../stylishbook.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
      crossorigin="anonymous"
    />
</head>
<body>
    <div class="container--80 background--grey padding--medium margin--large">
        <div class="alert__container alert--primary">
            <p class="alert__message">This is a Message</p>
            <i class="fas fa-times alert__clear"></i>
        </div>
        <div class="alert__container alert--secondary">
            <p class="alert__message">This is a Message</p>
            <i class="fas fa-times alert__clear"></i>
        </div>
        <div class="alert__container alert--success">
            <p class="alert__message">This is a Message</p>
            <i class="fas fa-times alert__clear"></i>
        </div>
        <div class="alert__container alert--error">
            <p class="alert__message">This is a Message</p>
            <i class="fas fa-times alert__clear"></i>
        </div>
        <div class="alert__container alert--warning">
            <p class="alert__message">This is a Message</p>
            <i class="fas fa-times alert__clear"></i>
        </div>
    </div>
</body>
</html>