<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar Component</title>
    <link rel="stylesheet" href="../stylishbook.css" />
</head>
<body>
    <div class="container--90 container__flex--center border--grey margin--large padding--medium">
        <div class="avatar avatar--large margin-lr--medium">
            <img src="../Images/avatar-image1.jpg" />
        </div>
        <div class="avatar avatar--medium margin-lr--medium">
            <img src="../Images/avatar-image2.jpg" />
        </div>
        <div class="avatar avatar--small margin-lr--medium">
            <img src="../Images/avatar-image3.jpg" />
        </div>
    </div>

    <div class="container--90 container__flex--center border--grey margin--large padding--medium">
        <div class="avatar avatar--text avatar--secondary avatar--large margin-lr--medium">
            AB
        </div>
        <div class="avatar avatar--text avatar--primary avatar--medium border--grey margin-lr--medium">
            AB
        </div>
        <div class="avatar avatar--text avatar--secondary avatar--small margin-lr--medium">
            AB
        </div>
    </div>
</body>
</html>