<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Component</title>
    <link rel="stylesheet" href="../stylishbook.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
      crossorigin="anonymous"
    />
</head>
<body>
    <div class="container margin--large">
        <button class="btn btn--outline">Outline</button>
        <button class="btn btn--primary">Primary</button>
        <button class="btn btn--secondary">Secondary</button>
        <a class="btn btn--link">Link</a>
        <button class="btn btn--secondary btn--icon"><i class="fab fa-github"></i>Click</button>
        <button class="btn btn--secondary btn--float-br">Float</button>
    </div>
</body>
</html>