<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="stylesheet" href="../stylishbook.css" />
</head>
<body>
    <div class="container--80 border--grey padding--large margin--large">
        <div class="container__grid grid--col-50-50 margin--large">
            <div class="height-30">
                <img class="img--cover" src="../Images/product2.jpg" />
            </div>
            <div class="card margin--auto">
                <div class="card__body padding--medium">
                    <div class="card__heading margin-bottom--medium">
                        <div class="container__flex--spacebetween margin-bottom--small">
                            <h2 class="card__title text--large">Product</h2>
                            <i class="far fa-heart text--large"></i>
                        </div>
                        
                        <h3 class="card__subtitle text--medium">Subtitle Product</h3>
                    </div> 
                    <div class="card__description margin-bottom--medium">
                        <p class="clr--secondary">Rs. 599 <span class="text--line-through"> 999 </span></p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="card__actions">
                        <div class="card__actions--buttons">
                            <button class="btn btn--secondary btn--icon"><i class="fas fa-shopping-cart"></i>Add to Cart</button>
                            <button class="btn btn--primary border--grey">Buy Now</button>                 
                        </div>
                        <div class="card__actions--icons">
                            <i class="fas fa-share-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

        <div class="container__grid grid--col-70-30 margin--large">
            <div class="height-30">
                <img class="img--cover" src="../Images/product2.jpg" />
            </div>
            <div class="margin--auto">
                <h3 class="text--center">Hello World!</h3>
                <p class="text--large">Welcome to the store</p>
            </div>
    
        </div>

        <div class="container__grid grid-col-4">
            <div class="card margin--medium">
                <div class="card__image--container badge-content">
                    <img class="card__image " src="../Images/product2.jpg" />
                    <p class="badge badge--large badge-card-tr">Best Seller</p>
                </div>
                <div class="card__body padding--medium">
                    <div class="card__heading margin-bottom--medium">
                        <div class="container__flex--spacebetween margin-bottom--small">
                            <h2 class="card__title text--large">Product</h2>
                            <i class="far fa-heart text--large"></i>
                        </div>
                        
                        <h3 class="card__subtitle text--medium">Subtitle Product</h3>
                    </div> 
                    <div class="card__description margin-bottom--medium">
                        <p class="clr--secondary">Rs. 599 <span class="text--line-through"> 999 </span></p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="card__actions">
                        <div class="card__actions--buttons">
                            <button class="btn btn--secondary btn--icon"><i class="fas fa-shopping-cart"></i>Add to Cart</button>
                            <button class="btn btn--primary border--grey">Buy Now</button>                 
                        </div>
                        <div class="card__actions--icons">
                            <i class="fas fa-share-alt"></i>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="card margin--medium">
                <div class="card__image--container badge-content">
                    <img class="card__image " src="../Images/product2.jpg" />
                    <p class="badge badge--large badge-card-tr">Best Seller</p>
                </div>
                <div class="card__body padding--medium">
                    <div class="card__heading margin-bottom--medium">
                        <div class="container__flex--spacebetween margin-bottom--small">
                            <h2 class="card__title text--large">Product</h2>
                            <i class="far fa-heart text--large"></i>
                        </div>
                        
                        <h3 class="card__subtitle text--medium">Subtitle Product</h3>
                    </div> 
                    <div class="card__description margin-bottom--medium">
                        <p class="clr--secondary">Rs. 599 <span class="text--line-through"> 999 </span></p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="card__actions">
                        <div class="card__actions--buttons">
                            <button class="btn btn--secondary btn--icon"><i class="fas fa-shopping-cart"></i>Add to Cart</button>
                            <button class="btn btn--primary border--grey">Buy Now</button>                 
                        </div>
                        <div class="card__actions--icons">
                            <i class="fas fa-share-alt"></i>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="card margin--medium">
                <div class="card__image--container badge-content">
                    <img class="card__image " src="../Images/product2.jpg" />
                    <p class="badge badge--large badge-card-tr">Best Seller</p>
                </div>
                <div class="card__body padding--medium">
                    <div class="card__heading margin-bottom--medium">
                        <div class="container__flex--spacebetween margin-bottom--small">
                            <h2 class="card__title text--large">Product</h2>
                            <i class="far fa-heart text--large"></i>
                        </div>
                        
                        <h3 class="card__subtitle text--medium">Subtitle Product</h3>
                    </div> 
                    <div class="card__description margin-bottom--medium">
                        <p class="clr--secondary">Rs. 599 <span class="text--line-through"> 999 </span></p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="card__actions">
                        <div class="card__actions--buttons">
                            <button class="btn btn--secondary btn--icon"><i class="fas fa-shopping-cart"></i>Add to Cart</button>
                            <button class="btn btn--primary border--grey">Buy Now</button>                 
                        </div>
                        <div class="card__actions--icons">
                            <i class="fas fa-share-alt"></i>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="card margin--medium">
                <div class="card__image--container badge-content">
                    <img class="card__image " src="../Images/product2.jpg" />
                    <p class="badge badge--large badge-card-tr">Best Seller</p>
                </div>
                <div class="card__body padding--medium">
                    <div class="card__heading margin-bottom--medium">
                        <div class="container__flex--spacebetween margin-bottom--small">
                            <h2 class="card__title text--large">Product</h2>
                            <i class="far fa-heart text--large"></i>
                        </div>
                        
                        <h3 class="card__subtitle text--medium">Subtitle Product</h3>
                    </div> 
                    <div class="card__description margin-bottom--medium">
                        <p class="clr--secondary">Rs. 599 <span class="text--line-through"> 999 </span></p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="card__actions">
                        <div class="card__actions--buttons">
                            <button class="btn btn--secondary btn--icon"><i class="fas fa-shopping-cart"></i>Add to Cart</button>
                            <button class="btn btn--primary border--grey">Buy Now</button>                 
                        </div>
                        <div class="card__actions--icons">
                            <i class="fas fa-share-alt"></i>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        
    </div>
    
</body>
</html>