<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <link rel="stylesheet" href="../stylishbook.css" />
</head>
<body>
    <div class="container--50 margin--large">
        <img src="../Images/batman.jpg" class="img--responsive" />
    </div>

    <div class="container--50 margin--large">
        <img src="../Images/batman.jpg" class="img--medium img--round" />
    </div>
</body>
</html>