<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utilities</title>
    <link rel="stylesheet" href="../stylishbook.css" />
</head>
<body>
    <div class="container--80 padding--medium border--grey margin--large">
        <ul class="styled-list styled-list--stacked">
            <li>Apple</li>
            <li>Orange</li>
            <li>Mango</li>
        </ul>
    </div>

    <div class="container--80 padding--medium border--grey margin--large">
        <ul class="styled-list styled-list--inline">
            <li>Apple</li>
            <li>Orange</li>
            <li>Mango</li>
        </ul>
    </div>
</body>
</html>