<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="../stylishbook.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
      crossorigin="anonymous"
    />
</head>
<body>
    <div class="container--90 margin--large border-grey">
        <div class="navbar__container padding--medium">
            <div class="navbar__heading-container">
                <div class="navbar__logo">
                    <i class="far fa-star"></i>
                </div>
                <div class="navbar__title text--large">
                    Title
                </div>
            </div>
            <ul class="navbar__list-container">
                <li class="navbar__item">
                    <a>Home</a>
                </li>
                <li class="navbar__item">
                    <a>About</a>
                </li>
                <li class="navbar__item">
                    <a>Contact</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container--90 margin--large border-grey">
        <div class="navbar__container--plain padding--medium">
            <div class="navbar__heading-container">
                <div class="container__flex--center">
                    <div class="navbar__logo">
                        <i class="fas fa-book-open"></i>
                    </div>
                    <div class="navbar__title text--medium">
                        Stylish Book UI
                    </div>
                </div>
                <div class="navbar__menu">
                        <i class="fas fa-bars"></i>
                </div>
            </div>
            <ul class="navbar__list-container text--medium margin-top--small">
                <li class="navbar__item ">
                    <a>Home</a>
                </li>
                <li class="navbar__item">
                    <a>Documentation</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>