<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rating Component</title>
    <link rel="stylesheet" href="../stylishbook.css" />
    <link rel="stylesheet" href="../rating.css" />
</head>
<body>
    <div class="container--80 padding--medium border--grey margin--large">

        <div class="star-rating--plain">
            <label class="star-filled"></label>
            <label class="star-filled"></label>
            <label class="star-filled"></label>
            <label class="star"></label>
            <label class="star"></label>
        </div>

        <div class="star-rating">
            <input type="radio" name="stars" id="star1" value="5"/>
            <label for="star1"></label>

            <input type="radio" name="stars" id="star2" value="4"/>
            <label for="star2"></label>

            <input type="radio" name="stars" id="star3" value="3"/>
            <label for="star3"></label>

            <input type="radio" name="stars" id="star4" value="3"/>
            <label for="star4"></label>

            <input type="radio" name="stars" id="star5" value="3"/>
            <label for="star5"></label>
        </div>
        
    </div>

</body>
</html>