<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="../stylishbook.css" />
    <link rel="stylesheet" href="../slider.css" />
</head>
<body>
    <div class="container--90 padding--medium margin--large border--grey">
        <div class="margin--medium">
            <p class="margin-tb--medium">Default range slider:</p>
            <input type="range" min="1" max="100" value="50">
        </div>
  
        <div class="margin--medium">
            <p class="margin-tb--medium">Custom range slider:</p>
            <input type="range" min="1" max="100" value="50" class="slider">
        </div>
    </div>
</body>
</html>