<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utilities</title>
    <link rel="stylesheet" href="../stylishbook.css" />
</head>
<body>
    <div class="container--80 padding--medium border--grey margin--large">
        <h1 class="margin--medium">H1 Heading</h1>
        <h2 class="margin--medium">H2 Heading</h2>
        <h3 class="margin--medium">H3 Heading</h3>
        <h4 class="margin--medium">H4 Heading</h4>
        <h5 class="margin--medium">H5 Heading</h5>
    </div>

    <div class="container--80 padding--medium border--grey margin--large">
        <p class="text--large">Paragraph Large</p>
        <p class="text--medium text--center text--bold">Paragraph Medium & Bold</p>
        <p class="text--small text--grey ">Paragraph Small & Grey</p>
    </div>
</body>
</html>