<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toast Component</title>
    <link rel="stylesheet" href="../stylishbook.css" />
</head>
<body>
    <div class="container--90 padding--large margin--large container__flex container--relative border--grey">
        <div class="toast-container background--success clr--primary margin-lr--medium">
            <p class="toast__message">This is a message</p>
            <i class="fas fa-times margin-lr--medium"></i>
        </div>
        <div class="toast-container  background--error clr--primary margin-lr--medium">
            <p class="toast__message">This is a message</p>
            <i class="fas fa-times margin-lr--medium"></i>
        </div>
        <div class="toast-container background--warning clr--primary margin-lr--medium">
            <p class="toast__message">This is a message</p>
            <i class="fas fa-times margin-lr--medium"></i>
        </div>
    </div>
    

    <button id="toast__demo" class="btn btn--secondary margin--large">DEMO</button>
    <script src="../JS/script.js"></script>
</body>
</html>